.status {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    background-color: #ececee;
}

.fr-notification {
    background-color: #ececee;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #940000;
}

.en-notification {
    background-color: #ececee;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}